body {
    --height-nav-panel: 62px;
    --width-monitor: width;
}

#root {
    color: rgb(255, 255, 255);
}

.body-panel {
    display: flex;
    position: absolute;

    width: 1650px;


    color: white;
    font-family: Impact;
    font-size: 30px;
    justify-content: center;
    flex-direction: column;

    top: var(--height-nav-panel);
    height: calc(100% - var(--height-nav-panel));

    left: 50%;
    transform: translate(-50%,0%);

    background-color: rgba(130, 130, 130, 0.15);

    /* padding-right: 12px;
    padding-left: 12px;
    padding-top: 40px;
    padding-bottom: 40px; */

    padding: 30px 5px;

    margin-right: auto;
    margin-left: auto;

    overflow-y: scroll;
    scrollbar-width: none;
}

.body-panel::-webkit-scrollbar {
    display: none;
}

.container {
    width: auto;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.nav-panel {
    width: 100%;
    height: var(--height-nav-panel);
}

.mangas-panel {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(40,1fr);

    grid-gap: 10px;

    width: 100%;
    height: 100%;
}

.manga-item {
    display: flex;

    flex-direction: row;

    background-color: rgb(103, 103, 103);


    outline: 1px solid rgb(151, 151, 151);
    border-radius: 8px;

    width: 100%;
    --width-info: 73%;
    --height-info: 200px;
    height: calc(var(--height-info) + 8px);

    padding: 4px;
}

.manga-item-cover {
    display: flex;

    margin-right: 2px;

    max-height: 100%;
    max-width: calc(100% - var(--width-info));
}

.manga-item-cover > img {
    border-radius: 8px;

    outline: 2px solid black;

    height: var(--height-info);
    width: 100%;

}

.manga-item-info {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, calc(var(--height-info) / 8));

    border-radius: 8px;
    background-color: rgb(45, 51, 51);

    padding: 2px;

    height: var(--height-info);
    width: var(--width-info);
}

.title {
    display: flex;

    align-items: center;
    justify-content: space-between;
    background-color: rgb(62, 35, 35);
    border-radius: 8px;

    padding: 0px 0px;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.title > span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.title > button {
    display: flex;
    background-color: rgb(85, 85, 85);

    border: 0px;
    border-radius: 8px;

    align-items: center;
    justify-content: center;


    margin-bottom: 1px;
    margin-right: -1px;
    padding: 0px 3px;
    height: 25px;
}

.title > button > span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;

    color: white;
}

.desc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 9;

    padding: 0px 0px;

    word-break: break-all;
    overflow: hidden;
}

.filter-panel {
    display: flex;

    border-radius: 8px;
    background-color: rgb(45, 51, 51);

    padding: 2px;

    overflow: hidden;

    min-height: 40px;
    width: 100%;
}

.filter-panel > span{
    position: absolute;

    left: 50%;
    transform: translate(-50%,-10%);
}

.filter-panel > button{
    position: absolute;

    border: 1px solid black;
    border-radius: 8px;


    margin-top: 2px;

    padding: 0px;

    height: 30px;
    width: 30px;
}

.filter-panel > button > img{
    position: absolute;

    transform: translate(-50%,-40%);

    height: 20px;
    width: 20px;
}