.body-panel {
    display: flex;

    color: white;
    font-family: Impact;
    font-size: 30px;
    justify-content: center;

    margin-top: 0px;

    padding-top: 13%;
    padding-bottom: 26.9%;

    background-color: rgba(130, 130, 130, 0.15);
}

/* .nav-panel {
    align-items: center;
} */