<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangadb</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-Image: url(https://c.wallhere.com/photos/e3/ba/simple_background_selective_coloring_black_background_dark_background_anime_girls-2137603.jpg!d)">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgba(0, 0, 0, 0.5) !important;">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
                <a class="navbar-brand" href="#" style="color:white;">
                    MangaDB🌟
                </a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">Read</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">API</a>
                    </li>
                </ul>
            </div>
    
            <div class="profile-info d-flex align-items-center">
                <img src="your_profile_image.jpg" alt="Profile Image">
                <span>Имя профиля</span>
            </div>
        </div>
    </nav>
    
    
<div class="container mt-5", style="color: White; font-family:Impact; font-size:25px;">
    Привет это Mangadb Здесь ты можешь <br>
    читать мангу скачивать ее<br>
    пользоваться нашим API бесплатно
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
